<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.artifact.repository.artifactRepositories">
      <factory
            class="org.fedoraproject.p2.FedoraArtifactRepositoryFactory">
      </factory>
      <filter
            suffix="fedora-artifacts.xml"></filter>
   </extension>
   <extension
         point="org.eclipse.equinox.p2.metadata.repository.metadataRepositories">
      <factory
            class="org.fedoraproject.p2.FedoraMetadataRepositoryFactory">
      </factory>
      <filter
            suffix="fedora-content.xml"></filter>
   </extension>

    <!--
    fedora-content.xml and fedora-artifacts.xml are placeholders and are NEVER used.

    When attempting to match a repository to a location, only repositories which define
    suffixes are consulted so we must declare this attribute.
    -->
</plugin>
